

a:link, 
a:visited {
	transition: all 1000ms ease-out;
}
a:hover,
a:focus {
	outline: 0;
	transition: all 150ms ease-in;
}
a:active {
	color:#f00;
}


.pull-center { text-align: center; }
.pull-center.pull-top { margin-bottom: -45px; }


.form-group {
	margin-bottom: -15px;
}

.form-group .btn {
	margin-bottom: 5px;
}

.label {
	display: inline-block;
}
.label-default {
	padding: 4px 7px;
}

.label-default.active {
	background: #444;
}

.label-default,
.btn-default {
	transition: all 1000ms ease-out;
}


.label-default:hover,
.btn-default:hover,
.label-default:focus,
.btn-default:focus {
	transition: all 150ms ease-in;
	cursor: pointer;
}

.btn-default.focus, 
/*.btn-default.active,*/
.btn-default.active:focus,
.btn-default.active.focus:focus {
	background: #d9edf7;
}

.btn-default.active.focus {
	background: #93cce9;;
}

.list-group-item-info {
	padding:15px;
}

.list-group-item {
	padding-bottom: 20px;
	transition: all 1000ms ease-out;
}

.list-group-item:hover,
.list-group-item:focus {
	transition: all 150ms ease-in;
	background: #fafafa;
}

.list-group-item blockquote {
	margin: 15px 0 20px 2px;
}

.list-group-item input[type="checkbox"] {
	display: none;
}


.elinks { 
	
	font-size: 18px;
}

.elinks a span { 
	font-size: 30px;
}

footer {
	padding: 0 0 60px;
}

@media only screen and (max-width: 620px) {
	.pull-right.elinks {float: none !important; font-size:inherit;margin-bottom:10px;}
	.pull-center, 
	.pull-right { float: none !important; }
	.pull-center.pull-top { margin-bottom: 0;}
	footer p { text-align: center; }
}




/* DEBUG View invisible checkboxes */

/*[data-toggle="buttons"] > .btn input[type="checkbox"] {*/
/*	position: inherit;*/
/*}*/

/*.list-group-item input[type="checkbox"] {*/
/*    display: inherit;*/
/*}*/


